<%- include('partials/header') %>
    <div class="forms">
        <h1 class="text-center">Weather forecast for next few days in <%=weatherdata.city.name%></h1>
        <table class="center">
            <tr>
                <th>
                  Date  
                </th>
                <th>
                   Time
                </th>
                <th>
                   Temperature
                 </th>
                <th>
                   description
                </th>
                <th>
                    image
                </th>
               
            </tr>
            <% for(var i=0;i<weatherdata.list.length;i++){ %>
                <tr>
                    <td><%= weatherdata.list[i].dt_txt.split(" ")[0] %></td>
                    <td><%= weatherdata.list[i].dt_txt.split(" ")[1] %></td>
                    <td><%= weatherdata.list[i].main.temp %><sup>o</sup>C</td>
                    <td><%= weatherdata.list[i].weather[0].description %></td>
                    <%  var imageURL="https://openweathermap.org/img/wn/"+weatherdata.list[i].weather[0].icon+"@2x.png" %> 
                <td><img src= <%= imageURL %>> </td>
                
        
                </tr>
            <%}%>
    </div>
